# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
*.bak

# SQLite temporary files
*.db-wal
*.db-shm

# Local Streamlit secrets only
.streamlit/secrets.toml